# --- Base de datos (SQL Server) ---
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=
DB_NAME=btg_posts

# --- API (NestJS) ---
API_PORT=3000
WEB_ORIGIN=http://localhost:4200

# --- Web (Vite) ---
VITE_API_URL=http://localhost:3000/api
